body, #presentation, #slideshows {
  overflow:hidden;
}
.collection, .slideshow {
  /* display:none; */
  display:-webkit-box;
  -webkit-box-orient:horizontal;
  overflow:hidden;
  -webkit-transition:0.6s;
}
.collection .slideshow {
  display:block;
  -webkit-box-flex:0;
  width:1024px;
}
.slide {
  -webkit-box-flex:0;
  width:1024px;
  height:768px;
}
#mainmenu {
  position:absolute;
  top:0;
  left:0;
  height:40px;
  width:1024px;
  z-index:1;
}
#mainfooter {
  position:absolute;
  bottom:0;
  left:0;
  height:40px;
  width:1024px;
  z-index:1;
}
@media only screen and (orientation:portrait){
   /* portrait styles here */
  .slide {
    width:768px;
    height:1024px;
  }
  #mainmenu, #mainfooter {
    width:768px;
  }
}
